<section id="article">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="article-title">
          <h2>Artikel Pilihan Kami</h2>
        </div>
        <div class="article-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam aspernatur eligendi laborum fugiat provident et, in possimus deserunt corporis? Earum, facere quisquam laborum ut cupiditate aut dignissimos ad sint.
            Nesciunt provident numquam laudantium illo aliquam sed et atque? Hic inventore labore ipsum obcaecati corporis maxime nemo nam iure quas tenetur sed sapiente repellat neque cumque, velit rerum blanditiis sunt?
            Optio aliquam ea a eum id iure omnis, laboriosam fugiat iste vitae provident? Distinctio repellat numquam amet, saepe atque explicabo, ad nostrum deleniti aliquam, minima nesciunt earum voluptatum vitae ut.
            Eaque molestiae iusto ex, impedit quaerat, cumque nobis dolorum enim assumenda, in hic? Vero, cum nihil iste optio suscipit assumenda eaque, neque tempore esse culpa laboriosam illo quasi vel magni.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="article-title">
          <h2 style="text-align: center;">Artikel lainnya</h2>
        </div>
        <div class="row">
          <div class="d-flex justify-content-around">
            <div class="col-md-3 my-3">
              <div class="card" style="width: 18rem;">
                <img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/investasi-kripto-ilustrasi-bitcoin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Bitcoin text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://storage.googleapis.com/finansialku_media/wordpress_media/2020/05/4d227b3f-pengertian-dan-jenis-bunga-obligasi-di-indonesia-yang-belum-kamu-ketahui-01-finansialku.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Obligation on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 my-3">
              <div class="card" style="width: 18rem;">
                <img src="https://d54-invdn-com.akamaized.net/content/pic07ad4735546e1ec1847d1eadcb63300a.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">IHSG on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://storage.modalrakyat.id/2021/08/9afc72c0-0a06-11ec-bcc2-a3713fb4d624.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Save your money on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
