<section id="main-content">
  <div class="container single-page-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-pages px-4 py-5 my-5 text-center">
          <h2>Dari Rakyat Jadi Konglomerat</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="title-paragraf px-4 text-center">
          <p>Semudah itu itu Belanja Saham di Aplikasi Saham Rakyat! <strong>Tanpa Minimum saldo</strong> , dapat info terkini di group chat <strong>secara gratis</strong> dan biaya transaksi murah</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</section>
