@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Style+Script&family=Stylish&display=swap');

.title {
  color: #cc0001;
  margin-bottom: -5px;
  font-family: poppins,Sans-serif;

}

.title-paragraf {
  margin-bottom: 30px;
  font-family: poppins,Sans-serif;
  color:#818a91;


}
