<section id="about">
  <div class="container single-page-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-pages px-4 py-3 my-5 text-center">
          <div class="title">
            <h1>Tentang Kami</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="title-paragraf px-4 text-center">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et corporis quos, totam quas odio autem aliquam iure nobis! Omnis minima rerum praesentium rem, sequi temporibus esse recusandae dignissimos possimus!
            Deleniti nemo aut earum harum? Numquam dicta facilis delectus, quod eum explicabo rem illum alias porro nam libero dolorem eveniet, necessitatibus provident ex, veritatis esse ab in sunt molestiae. Voluptates?
            Magni et deleniti quidem nostrum exercitationem tenetur inventore. Dolorum necessitatibus pariatur molestiae beatae excepturi cupiditate dolor iste minus similique porro magni ad ratione repellat dicta totam tenetur amet, facilis corporis!
            Vel natus commodi atque dolorem debitis nesciunt fugit aperiam voluptatibus. Odio doloribus consequatur non dicta voluptatem consectetur dolorum, numquam provident iure dignissimos quaerat minus excepturi fugit libero placeat, quos cupiditate?
            Hic commodi ullam amet eveniet molestias? Deserunt molestiae pariatur neque vero numquam non minima ratione? Ratione atque quidem pariatur saepe nobis id, quos quisquam fugit rem magnam officiis impedit necessitatibus?
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</section>
